
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
yfin_dataset/01-notes files/.ipynb_checkpoints/_yfin_notes-checkpoint.md
yfin_dataset/04-descriptives/.ipynb_checkpoints/fin_descriptives-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
Apple Stocks/03-explore/.ipynb_checkpoints/explore_notes-checkpoint.md
Apple Stocks/03-explore/.ipynb_checkpoints/desc_exp_1-checkpoint.ipynb
Apple Stocks/03-explore/.ipynb_checkpoints/Explore_Notes_v2-checkpoint.md
Apple Stocks/03-explore/.ipynb_checkpoints/desc_py_1-checkpoint.py
yfin_dataset/04-descriptives/.ipynb_checkpoints/yfin_srandard_plots-checkpoint.ipynb
yfin_dataset/04-descriptives/__pycache__/yfin_descriptives_py.cpython-38.pyc
yfin_dataset/04-descriptives/.ipynb_checkpoints/yfin_descriptives_py-checkpoint.py
yfin_dataset/04-descriptives/.ipynb_checkpoints/yfin_groupby_descriptives-checkpoint.ipynb
yfin_dataset/03-explore /.ipynb_checkpoints/fin_descriptives-checkpoint.ipynb
yfin_dataset/04-descriptives/.ipynb_checkpoints/yfin_group_range_desc-checkpoint.ipynb
yfin_dataset/04-descriptives/.ipynb_checkpoints/Group Range Notes-checkpoint.md
/.idea/codeStyles/codeStyleConfig.xml
*.pyc
yfin_dataset/04-descriptives/.ipynb_checkpoints/yfin_IQR_outliers-checkpoint.ipynb
